@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }

  .topbar {
    @apply flex w-full items-center justify-between px-[15px] md:px-[30px] xl:px-[50px] 2xl:px-[100px] mx-auto py-[12px] bg-dark-2 z-50 fixed top-0 left-0 right-0;
  }

  .bottombar {
    @apply flex w-full items-center justify-between px-[15px] md:px-[30px] xl:px-[50px] 2xl:px-[100px] mx-auto py-6;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Shadcn Component Styles */

  /* Account Form  */
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .account-form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
  }

  .account-form_image-input {
    @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
  }

  .account-form_input {
    @apply border-none bg-dark-3 text-light-1 py-6 !important;
  }
}


/* Swiper */

.swiper-pagination-position {
  display: flex;
  align-content: center;
  justify-content: center;
}
